<%= image_tag("paypal", :width => "500px") %>
<hr />
<p>If you would like discuss options for purchasing DartSight in bulk, please contact us at <a href="mailto:sales@dartsight.com">sales@dartsight.com</a>.