<div class="span-8 imageLeft">
  <%= image_tag("device.png", :alt => "DartSight", :width => "300px") %>
</div>
<div class="span-7 last">
  <h1>Training with DartSight</h1>
  <p class="summary">
    With the adjustable DartSight training tool, you start every throw with the dart exactly where it needs to be to fit your throw. DartSight&rsquo;s circular sighter allows you to keep an eye on your target while you make sure it is directly in your line of fire.
  </p>
</div>
<hr />
<div class="span-15 last">
  <%= image_tag("handscut.png", :alt => "Saccades", :width => "200px", :class => "floatRight") %>
  <h5>
    Perfect Practice Makes Perfect
  </h5>
  <p>
    According to common wisdom, practice makes perfect. The truth is that only perfect practice makes perfect.
  </p>
  <ul>
    <li>Start every throw with the dart in the same location relative to your target.</li>
    <li>Keep the dart on line with your target throughout your throwing motion.</li>
    <li>Build a reproducible rhythm.</li>
    <li>Hit your spots consistently.</li>
  </ul>
  <p>
    

</div>