<div class="span-8 imageLeft">
  <%= image_tag("trophy.jpg", :alt => "David with Trophy", :width => "300px") %>
</div>
<div class="span-7 last">
  <h2>This is DartSight.</h2>
  <p class="summary">
    Modern sport is infused with science. Top athletes gain advantages by taking the guesswork out of their craft. Now darts has caught up.
  </p>
  <p class="summary">
    DartSight is the revolutionary training tool that changes the way the game is played.
  </p>
</div>
<hr />
<div class="span-5">
  <h3>The DartSight Way</h3>
    <p class="text">
      DartSight makes sense of darts. Using the DartSight method will produce consistently accurate results. And in darts, consistency is king.
    </p>
    <h4 class="text">Watch the video:</h4>  
</div>
<div class="span-10 last video">
  <iframe class="shadow" width="400" height="233" src="http://www.youtube.com/embed/Z1_uAPuVikM?rel=0" frameborder="0" allowfullscreen></iframe>
</div>