<div class="span-8 imageLeft">
  <%= image_tag("davidsight.png", :alt => "David with DartSight", :width => "300px") %>
</div>
<div class="span-7 last">
  <h1>BrainWorks for Darts</h1>
  <p class="summary">
    The DartSight method applies advanced research on two innate brain processes to the art of darts. DartSight works with your brain to improve your game.
  </p>
</div>
<hr />
<div class="span-15 last">
  <%= image_tag("saccades.png", :alt => "Saccades", :width => "250px", :class => "floatRight") %>
  <h5>
    Saccadic Darts
  </h5>
  <p>
    Saccades are quick, simultaneous movements of both eyes in the same direction used to quickly scan a scene. The brain achieves its highest level of focus immediately after these movements, which typically cover an angle of 2-4 degrees.
  </p>
  <h5>
    Blinking Darts
  </h5>
  <p>
    Blinking is the mind's way of punctuating thought. The human brain uses the blink to clear itself in preparation for a new task. 
  </p>
</div>
<div class="span-15 last">
  <p>
    Used in combination, blinking and saccades allow you to throw your best darts. To hit a number in the triple ring, focus on the bullseye, blink, shift to your target, and throw. Combining the proper technique that DartSight teaches with the Blink-Shift-Throw rhythm is the fastest and most effective way to internalize a solid, repeatable, and accurate motion.
  </p>
</div>